BOT_IDS = {
    "Bot ID",
}

DB_URL = "SqlAlchemy Database URL"

SUPER_KEY = "Super Key"

MEAL_PARAMS = {
    "ATPT_OFCDC_SC_CODE": "Office of Education Code",
    "SD_SCHUL_CODE": "School Code",
    "key": "API Key",
    "type": "JSON",
}
