<!DOCTYPE html>

<html lang="ko">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>TOTP 키 열람</title>
	<link rel="stylesheet" href="{{ url_for('static', path='totp/css/main.css') }}" />
</head>

<body class="is-preload">

	<!-- Header -->
	<div id="header">
		<img src="{{ url_for('static', path='images/manl-round.png') }}" alt="M", width="20%">
		<h6><br></h6><h1>TOTP 키</h1>
		<p>관리자용 TOTP 키는 아래에 있어요.<br/>
			분실하거나 다른 사람에게 알려주지 마세요.</p>
	</div>

	<!-- Main -->
	<div id="main">
		<header class="major container medium">
			<h1><strong>{{ key }}</strong></h1>
	</div>

	<!-- Footer -->
	<div id="footer">
		<div class="container medium">
			<header class="major last">
				<h2>TOTP 키는 어디에 등록해야 할까요?</h2>
			</header>
			<p>TOTP 키는 Google OTP, Authy, Microsoft Authenticator 등<br>
				안전한 OTP 앱에서 이용할 수 있습니다.</p>
			<ul class="copyright">
				<li>&copy; 2020-2022. Syun All rights reserved.</li>
			</ul>

		</div>
	</div>

	<!-- Scripts -->
	<script
		src="https://code.jquery.com/jquery-3.6.1.min.js"
		integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/6.1.19/browser.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/response.js/0.10.1/response.min.js"
		integrity="sha512-3oQSIvnfs9CoWMjytvn4nVXfYmPPA5VxFeAFGEHWgN6SeyYoooVyMItxLvCldTq8143J43NYXwF1XfmVvqkmVQ=="
		crossorigin="anonymous"
		referrerpolicy="no-referrer"></script>
	<script src="{{ url_for('static', path='totp/js/util.min.js') }}"></script>
	<script src="{{ url_for('static', path='totp/js/main.js') }}"></script>

</body>

</html>